<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Puppies</title>
</head>
<body>
  <h1>Make a puppy!</h1>
  <form action="/puppies" method="post">
  Name:<input type="text" name="name" id="name"><br>
  Age:<input type"text" name="age" id="age"><br>
  <button name="button">submit</button>
  </form>
</body>
</html>
